/* puppet.css */

body {
    background: black;
    color: #96e;
    font: bold bigger Verdana,serif;
}

body, img, h3 {
  text-align: center;
  display: block;
  margin: 0 auto;
}

h3 {
    letter-spacing: 3px;
    padding: 28px;
}

#avatar {
  background-image: url(fondo.jpg);
  border: #606  dashed 4px;
}
